<br><br>
<div class="container">
    <div class="row"><br><br></div>

    <div class="row">
        <span class="col-md-1"></span>
        <div class="col-md-1 blk" id="one"></div>
        <span class="col-md-2"></span>
        <div class="col-md-1 blk" id="two"></div>
        <span class="col-md-2"></span>
        <div class="col-md-1 blk" id="three"></div>
        <span class="col-md-2"></span>
        <div class="col-md-1 blk" id="four"></div>
    </div>
    <br><br>

    <div class="row">
        <span class="col-md-1"></span>
        <div class="col-md-1 blk" id="five"></div>
        <span class="col-md-2"></span>
        <div class="col-md-1 blk" id="six"></div>
        <span class="col-md-2"></span>
        <div class="col-md-1 blk" id="seven"></div>
        <span class="col-md-2"></span>
        <div class="col-md-1 blk" id="eight"></div>
    </div>
    <br><br>
    <div class="row">
        <span class="col-md-1"></span>
        <div class="col-md-1 blk" id="nine"></div>
        <span class="col-md-2"></span>
        <div class="col-md-1 blk" id="ten"></div>
        <span class="col-md-2"></span>
        <div class="col-md-1 blk" id="eleven"></div>
        <span class="col-md-2"></span>
        <div class="col-md-1 blk" id="twelve"></div>
    </div>

    <br><br>
    <div class="row">
        <span class="col-md-1"></span>
        <div class="col-md-1 blk" id="thirteen"></div>
        <span class="col-md-2"></span>
        <div class="col-md-1 blk" id="fourteen"></div>
        <span class="col-md-2"></span>
        <div class="col-md-1 blk" id="fifteen"></div>
        <span class="col-md-2"></span>
        <div class="col-md-1 blk" id="sixteen"></div>
    </div>
    <br><br>
    <div class="row">
        <div class="col-md-3">
            <button class="btn btn-primary" ng-click="takeTest()">Start</button>
        </div>
        <div class="col-md-3">
            <button class="btn btn-primary" ng-click="stopTest()">stop</button>
        </div>
        <div class="col-md-3">
            <button class="btn btn-primary" ng-click="reset()">Reset</button>
        </div>
    </div>
    <br><br> Testing
    <div class="row">
        <span class="col-md-5"></span>
        <div class="col-md-4">
            {{orginalCount}}
        </div>
    </div>
</div>