<br><br><br><br>

<div class="container" id="back1">
    <div class="row" id="on">
        <span class="col-md-2"></span>
        <div class="col-md-9">
            <i><b id="qst">{{dqst}}</b></i>
        </div>
        <span></span>
    </div>
    <br><br>

    <div class="row" id="opts2">
        <span class="col-md-2">

        </span>

        <div class="col-md-9" id="its">

            <input ng-click="mark($event)" id="t1" type="checkbox" value="0">
            <label><p class="opts" id="one"></p></label><br>
            <input ng-click="mark($event)" id="t2" type="checkbox" value="1"><label>
            <p class="opts" id="two"></p></label><br>
            <input ng-click="mark($event)" id="t3" type="checkbox" value="2"><label>
            <p class="opts" id="three"></p></label><br>
            <input ng-click="mark($event)" id="t4" type="checkbox" value="3"><label>
            <p class="opts" id="four"></p></label><br>
            <input ng-click="mark($event)" id="t5" type="checkbox" value="4"><label>
            <p class="opts" id="five"></p></label>

        </div>
    </div>

    <br><br><br>
    <div class="row">
        <span class="col-md-4"></span>
        <div class="col-md-5">
            <button id="nt" class="btn btn-default" ng-click="go()">Next</button>
        </div>

    </div>
</div>