<div id="demo" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
    </ul>

    <!-- The slideshow -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="http://localhost/img/dp1.jpg" alt="Los Angeles" width="100%" style="opacity: 0.89;" height="400">
            <div class="carousel-caption" id="dt">
                <h3>Betting game</h3>
                <p>Double your money by betting on yourself!</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="http://localhost/img/dp3.jpg" alt="Chicago" style="opacity: 0.89;" width="100%" height="400">
            <div class="carousel-caption" id="dt">
                <h3>Predict your future soulmate</h3>
                <p>Get excited by knowing his/her name!</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="http://localhost/img/dp2.jpg" alt="New York" width="100%" style="opacity: 0.89;" height="400">
            <div class="carousel-caption" id="dt">
                <h3>Marriage age??</h3>
                <p>Find out when you are gonna get married!</p>
            </div>
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>
<br><br><br>
<div class="container">
    <div class="row disp">


        <div class="col-md-6">
            <br>
            <div id="tt">
                <h5><a href="http://localhost/crazygame.github.io/#!/typinggame">Typing game</a></h5>
                <p>Type the provided paragraph before the time runs out.</p>
            </div>
            <br><br>
            <div id="tt">
                <h5><a href="http://localhost/crazygame.github.io/#!/blink">Blink game</a></h5>
                <p>Just count the blinks and say your answer at last.</p>
                <br>
            </div>
        </div>

        <div class="col-md-6">
            <br>
            <div id="tt">
                <h5><a href="http://localhost/crazygame.github.io/#!/fut">Soulmate's name</a></h5>
                <p>Just answer your preferences and we will evaluate your behaviour, thought process and preferences. And the algorithm will predict your soulmates name!</p>
            </div>
            <br>
            <div id="tt">
                <h5><a href="http://localhost/crazygame.github.io/views/marriage/index.html">Marraige date</a></h5>
                <p>Check out at what age you are gonna get married possibly...!</p>
                <br>
            </div>
        </div>
    </div>
</div>