<br>
<div class="container-fluid">
    <div class="row">
        <span class="col-md-1"></span>
        <div class="col-md-3 col-lg-3">
            <div class="hpimg">
                <img id="hpimg" class="img-thumbnail" src="http://localhost/img/res1.jpg" />
            </div>
            <br>
            <div class="hpimg">
                <img id="hpimg" class="img-thumbnail" src="http://localhost/img/res2.jpg" />
            </div>
            <br>
            <div class="hpimg">
                <img id="hpimg" class="img-thumbnail" src="http://localhost/img/res3.jpg" />
            </div>
        </div>
        <div class="col-md-6 col-lg-6">
            <div id="lov">
                <i><h5>“Being deeply loved by someone gives you strength, while loving someone deeply gives you courage.”</h5></i>
                <hr>
                <i id="fres">{{final}}</i>
            </div>
            <br><br>
            <div class="row">
                <span class="col-md-6"><img id="hpimg2" src="http://localhost/img/res4.jpg" /></span>


                <span class="col-md-6"><p>The name of soul mate you are desperately looking for starts with</p></span>
            </div>

        </div>

    </div>

</div>