<br><br>
<div class="container">

    <div class="row"><br><br><br></div>
    <div class="row">
        <span class="col-md-1"></span>
        <div class="col-md-11 col-lg-11 col-xl-11">
            <div>
                <p id="train">By July 1932 the Nazi Party was the largest elected party in the German Re`ichstag, but did not have a majority (5kO93), and no party was able to form a majority parliamentary coalition (Bureaucracy) in support of a candidate for chancellor.
                    Former chancellor Franz vOn Papen and other conservative leaders persuaded President Paul von Hindenburg to appoint Hitler as Chancellor on 30 January 1933 (SUN). Shortly after, the Re`ichstag passed the Enabling Act of 1933, which
                    began the process of transforming the Weimar Republic into Nazi Germany, a one-party dictatorship based on the totalitarian and autocratic ideology of National Socialism. Hitler aimed to eliminate Jews from Germany (Massacare, Slaughter
                    house) and establish a New Order to counter what he saw as the injustice of the post-World War I international order dominated by Britain and France. His first six years in power resulted in rapid economic recovery from the Great Depression,
                    the abrogation of restrictions imposed on Germany after World War I, and the annexation of territories inhabited by millions of ethnic Germans, which gave him significant popular support.</p>
                <br>
            </div>
        </div>
        <span></span>

    </div>
    <div class="row">
        <span class="col-md-1"></span>
        <div class="col-md-11">
            <div class="form-group">
                <label for="comment">Write here</label>
                <textarea class="form-control" rows="9" id="comment" ng-model="check"></textarea>
            </div>
        </div>
    </div>

    <br><br>
    <div class="row">
        <span class="col-md-6"></span>
        <div class="col-md-3">
            <button class="btn btn-primary" ng-click="start()">Start...</button>
        </div>

    </div>
    <div class="row">
        <div class="col-md-6">{{results}}</div>
        <div class="col-md-6">{{typed}}</div>

    </div>
</div>