body {
    background: url("open.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.pos {
    margin-top: 200px;
    opacity: 0.7;
}

.jumbotron {
    opacity: 0.9;
}

.jumbotron a {
    font-size: 20px;
    color: black;
}

p {
    font-style: italic;
    font-weight: 100;
    color: black;
    font-family: Crafty Girls;
    font-size: 22px;
    text-align: center;
}

.next {
    padding: 6px;
    background-color: coral;
    margin-left: 30%;
    align-content: center;
}

#nex {
    margin-left: 10%;
    background-color: #19FC49;
    width: 70%;
}