.btn {
    height: 1.8em;
    background-color: crimson;
}

.opts {
    margin-left: 1.8em;
    font-size: 1.1em;
    font-family: "Lucida Console", Monaco, monospace;
}

#qst {
    font-size: 1.6em;
    font-family: Verdana, Geneva, sans-serif;
}

#backw {
    background-image: url('http://localhost/img/natgirl1.jpg');
    background-size: cover;
}

#opts2 {
    background-color: #f7eeeb;
    opacity: 0.7;
    box-shadow: -2px 2px 8px #888888;
}

#on {
    background-color: #cdaea3;
    opacity: 0.8;
}

#its {
    margin-top: 2em;
    margin-bottom: 2em;
}

#nt {
    background-color: mediumseagreen;
    padding-top: 1em;
    padding-bottom: 2em;
    padding-left: 3em;
    padding-right: 3em;
    box-shadow: -2px 3px 8px #888888;
}