.blk {
    height: 1.8em;
    background-color: crimson;
}

#train {
    font-size: 1.3em;
}

.disp {
    background-color: #eaecee;
    opacity: 0.8;
}

#tt>h5 {
    font-family: 'Seymour One', sans-serif;
    font-stretch: expanded;
    font-size: 2.9em;
}

#tt>p {
    font-size: 1.3em;
}

.opts {
    margin-left: 1.8em;
    font-size: 1.1em;
    font-family: "Lucida Console", Monaco, monospace;
}

#dt>h3 {
    font-family: 'Seymour One', sans-serif;
    font-stretch: expanded;
    font-size: 2.9em;
}

#dt>p {
    font-family: 'Seymour One', sans-serif;
    font-size: 1.8em;
}

carousel-inner img {
    width: 100%;
    height: 10%;
    opacity: 0.8;
}

#lov {
    opacity: 0.9;
    background-color: #DAF7A6;
    padding: 1.4em;
}

.hpimg {
    width: 90%;
    height: 90%;
}

#fresl {
    font-stretch: expanded;
    font-size: 120%;
    font-style: italic;
}

.dp {
    background-color: #ccf8f5;
}

.fresl {
    background-color: #D7F4CC;
    opacity: 0.8;
}

.fresl2 {
    opacity: 0.89;
}

#hpimg4 {
    width: 100%;
    height: 100%;
}

.hpimgt {
    width: 100%;
    height: 100%;
}

#fres {
    font-size: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#qst {
    font-size: 1.6em;
    font-family: Verdana, Geneva, sans-serif;
}

#ct {
    background-color: #d4e3e2;
    opacity: 0.89;
}

#backw {
    background-size: cover;
    background-repeat: no-repeat;
}

#opts2 {
    background-color: #f7eeeb;
    opacity: 0.7;
    box-shadow: -2px 2px 8px #888888;
}

#on {
    background-color: #cdaea3;
    opacity: 0.8;
}

#its {
    margin-top: 2em;
    margin-bottom: 2em;
}

#nt {
    background-color: mediumseagreen;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 3em;
    padding-right: 3em;
    box-shadow: -2px 3px 8px #888888;
}